<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">MaybeEnjoy?</h3>
        <nav class="nav nav-masthead app-nav", style="font-size: 20px;">
            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link'%>
        </nav>
    </div>
</div>