<section class="jumbotron text-center">
    <div class="container">
    <h1 class="jumbotron-heading">Listado de los eventos</h1>
    <p class="lead text-muted">En esta secci칩n encontrar치s todos los eventos que est치n pr칩ximos a llevarse a cabo
        en nuestras instalaciones. Te invitamos a que los veas, y esperamos que puedas asistir a cada uno de ellos.</p>
    <p>
        <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Menu', products_path, class: 'btn btn-secondary' %>
    </p>
    </div>
</section>