<%# Datos a mostrar de cada evento %>
<div class="card">
    <%= image_tag event_img((events_item.thumb_image), 'thumb').to_s %>
    <p class="card-text">
        <span><%= link_to events_item.name, event_path(events_item) %></span>
    </p>
</div>
