<h1>Eventos</h1>

<% @events_item.each do |events_item| %>
    <p><%= events_item.name %></p>
    <%= image_tag events_item.thumb_image %>
    <p><%= events_item.description %></p>
    <p><%= events_item.date_event %></p>
<% end %>