<div class="inner cover">
    <h1 class="cover-heading text-home-titulo">Bienvenido</h1>
    <p class="lead">
        <p class="text-home-p">Somos un café enfocado en el impulso del talento extranjero y nacional, creando experiencia a través de la lectura, 
        el arte y una buena taza de café.</p>
    </p>
    <p class="lead lead-ordena-aqui">
        <%= link_to "Ve el menú", menu_path, class: 'btn btn-lg btn-secondary  ' %>
    </p>
</div>
