<div class="contenedor-productos">
  <div class="row py-4">
      <div class="col-12">
        <% if logged_in?(:site_admin) %>
          <%= link_to "Crear producto", new_product_path, class: 'btn btn-primary'%>
        <% end%>
      </div>
      <% @products.each do |product| %>
        <div class="tarjeta-wrap">
          <div class="tarjeta">
            <div class="adelante">
              <%image_tag "#{product.imgProduct}"%>
            </div>
            <div class="atras">
              <div class="texto">
                <h2><%= product.name %></h2>
                <h3>Descripción</h3>
                <p><%= product.description %></p>
                <h4><%= "Q. " + "#{product.price}" %></h4>
              </div>
            </div>
          </div>
        </div>
      <% end%>
  </div>
  <br>  
</div>
